button {
  border: 1px solid #000;
  border-radius: 3px;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  font-size: 1.1em;
  color: #000;
  cursor: pointer;
}

button:hover {
  background-color: #f17828;
}
